/* 
font-family: 'Roboto', sans-serif; 
font-family: 'Monoton', cursive;
font-family: 'Gabriela', serif;
*/

body{
  margin: 0;
  padding: 0;
  font-family: 'Gabriela', serif;
  box-sizing: border-box;
  background: #efefef;
}
.container{
  padding: 0;
}
.row{
  padding: 0;
}
/* ----------- header --------------- */
header{
  background: #9744ad;
}
header .navbar .navbar-brand {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Monoton', cursive;
  color: #fff;
}
header .navbar .navbar-brand:hover,
header .navbar .navbar-brand:active,
header .navbar .navbar-brand:visited{
  color: #fff;
}

header .row{
  border-bottom: 5px solid #20e120;
  margin: 0;
  padding: 0;
}
header .navbar .nav-link{
  text-transform: uppercase;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 5px;
}
header .navbar-light .navbar-nav .nav-link{
  color: #fff;
  border-right: 1px solid;
  border-color: rgba(225,225,225,.3);
}
header .navbar-light .navbar-nav .nav-link:hover,
header .navbar-light .navbar-nav .nav-link:active,
header .navbar-light .navbar-nav .nav-link:visited{
  color: #fff;
  border-color: rgba(225,225,225,.3);
}
/* ------------- Banner ------------- */
.banner{
  border-bottom: 5px solid #9744ad;
}
.banner .main_banner img{
  width: 100%;
}

/* --------------- list ------------ */
.number-list .header-wrapper{
  position: relative;
  text-align: center;
}
.number-list .header-wrapper h3{
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  font-family: 'Gabriela', serif;
  font-weight: 400;
  display: inline-block;
}
.number-list .row{
  margin: 0;
}
.number-list .row .col-6{
  margin-bottom: 30px;
}
.number-list .row a img{
  width: 100%;
}
/* ------------ Footer --------------- */
.footer{
  background: #e1e1e1;
  padding: 20px 0;
}
.footer.row{
  margin: 0;
}
.footer a{
  display: block;
  padding: 5px 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #222;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 20px;
}
.footer h4{
  font-weight: 400;
  text-transform: capitalize;
  color: #000;
  font-size: 20px;
  padding: 5px 0;
}
.footer a i{
  font-size: 30px;
}
/* -------------- number --------------- */
.number_basic{
  padding-top: 20px;
}
.number_basic .avatar span{
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    background-size: contain !important;
}
.number_basic h3{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 20px 0 30px;
  word-spacing: 10px;
}
.number_basic .basic_info{
  font-size: 18px;
  word-spacing: 4px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.number_basic .link-wrapper h4{
  text-transform: capitalize;
  font-weight: 100;
  text-shadow: 1px 1px 1px #000000;
  margin-bottom: 30px;
  font-size: 20px;
}
.number_basic .link-wrapper a{
  display: block;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: underline;
}
.lucky_list {
  margin-bottom: 50px;
  text-align: center;
}
.lucky_list h3{
  display: block;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.lucky_list .row .col-6:first-child{
  display: none;
}
.lucky_list a{
  text-transform: capitalize;
  font-size:  22px;
  color: #000;

}
/* ---------- static page ------------ */
/* rulling-number */
.fadic-number,
.rulling-number{
  margin-bottom: 50px;
  padding: 0 20px;
}
.fadic-number h1,
.rulling-number h1{
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
  text-transform: capitalize;
}
.fadic-number p,
.rulling-number p{
  text-indent: 50px;
  font-size: 20px;
}
/* ---------------- detail lucky page ------------------- */
.Lucky_basic{
  margin-bottom: 50px;
}
.Lucky_basic h3{
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 20px 0 30px;
  word-spacing: 10px;
}
.Lucky_basic p {
  font-size: 20px;
}
.Lucky_basic p strong{
  display: inline-block;
  text-transform: capitalize;
  width: 180px;
}